/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 juin 2016, 19:24:59
    Author     : ludovic
*/

input,select{float:left; }
input[type=text]{padding-left:2px;}
input[type=password]{padding-left:2px;}
button,input[type="submit"]{float:left; padding-left:20px;padding-right:20px; min-width:120px;margin-top:20px;}
label{float: left;width: 100px;}
fieldset{width:auto;}
#Version{position: fixed;bottom: 30px;right: 100px;}
    table{border:solid 1px;border-collapse: collapse;border-spacing:0px}
th, td{border:solid 1px; padding: 1px;}
th{background-color: #c9c5c5;}
br{clear: both;}
h1{
    margin-top:50px;margin-bottom: 0px;
    color: #323781; 
}

.padding{
    padding-left:30px;
}
form#Recrutement{padding-left:100px;}
#Recrutement label{clear:both;min-width:200px;width:auto;margin-top:7px;font-weight: bold}
#Recrutement textarea{width:400px;height:80px;float:left;clear:both}
#Recrutement button{clear: both;margin-left: 100px;}
#Recrutement input[type=submit]{margin-left: 200px;}


form#entretien{padding-left:100px;}
#entretien label{clear:both;min-width:200px;width:auto;margin-top:7px;font-weight: bold}
#entretien textarea{width:400px;height:80px;float:left;clear:both}
#entretien button{clear: both;margin-left: 100px;}
#entretien input[type=submit]{margin-left: 200px;}



form#DocumentForm{padding-left:100px;}
#DocumentForm label{clear:both;min-width:200px;width:auto;margin-top:7px;font-weight: bold}
#DocumentForm textarea{width:400px;height:80px;float:left;clear:both}
#DocumentForm button{clear: both;margin-left: 100px;}
#DocumentForm input[type=submit]{margin-left: 200px;}

form#AccesForm{padding-left:100px;}
#AccesForm label{clear:both;min-width:200px;width:auto;margin-top:7px;font-weight: bold}
#AccesForm textarea{width:400px;height:80px;float:left;clear:both}
#AccesForm button{clear: both;margin-left: 100px;}
#AccesForm input[type=submit]{margin-left: 200px;}

form#EvaluationForm{padding-left:100px;}
#EvaluationForm label{clear:both;min-width:200px;width:auto;margin-top:7px;font-weight: bold}
#EvaluationForm textarea{width:400px;height:80px;float:left;clear:both}
#EvaluationForm button{clear: both;margin-left: 100px;}
#EvaluationForm input[type=submit]{margin-left: 200px;}